
<header></header>

<div class="row">
<div class="col-6">
  <div class="card bg-dark text-white" style="width: 50em;">
    <img class="card-img" src="/assets/img/h_cover.jpg" alt="Hospital" >

  </div>
</div>
<div class="col-6">
  <div class="card bg-dark text-dark" style="width: 50em;">
    
    <div class="card-img-overlay">
      <h5 class="card-title ms-3">Welcome to ABC Hospitals</h5>
      <div class="card-text ms-4"> 
       <table>
        <tr>
          <td><a routerLink="/admin-landing-page"><button class="bigbutton ms-3"><span>Are you an Admin</span></button></a></td>
          <td><a routerLink="/user-details"><button class="bigbutton ms-3"><span>Are you an Patient</span></button></a></td>
        </tr>
      </table></div>
    </div>
  </div>
</div>
</div>

